.head-font {
  font-weight: 700;
  line-height: 80px;
  font-size: 55px;
}

.font-head {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
}

.link-font {
  font-size: 15px;
  line-height: 26px;
}

.font-13 {
  font-size: 13px;
  line-height: normal;
}

.font-17 {
  font-size: 17px;
  line-height: 36px;
}

.font-16 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
